{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="content-wrapper">
        <!-- اخبار بخش -->
        <div class="news-section">
            <h2>اخبار جدید</h2>
            {% if news_items %}
                {% for news in news_items %}
                    <div class="news-item">
                        <h3>{{ news.title }}</h3>
                        <p>{{ news.content|truncatewords:20 }}</p>
                        <p>تاریخ انتشار: {{ news.published_at|jalali_date }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>هیچ خبری در حال حاضر موجود نیست.</p>
            {% endif %}

        </div>

        <!-- خط عمودی -->
        <div class="vl"></div> 

        <!-- مطالب اصلی -->
        <div class="main-content">
            <div class="title-button-container">
                <h1 class="inline h1-margin">عنوان</h1>
                <button class="inline button-margin">دکمه</button>
            </div>

            <p>سوالات اخیر</p>
        </div>    
    </div>
{% endblock %}