{% extends 'base.html' %} {% block content %} {% load custom_filters %}
<div class="container mt-5">
  <h2 class="text-center text-white mb-4">ورود به حساب کاربری</h2>
  <form method="post" class="w-50 mx-auto">
    {% csrf_token %}
    <!-- نمایش فرم ورود به صورت زیبا با استفاده از کلاس‌های Bootstrap -->
    <div class="mb-3">
      <label for="id_username" class="text-white form-label">نام کاربری</label>
      {{ form.username|add_class:"form-control" }}
    </div>
    <div class="mb-3">
      <label for="id_password" class="text-white form-label">رمز عبور</label>
      <div class="position-relative">
        {{ form.password|add_class:"form-control" }}
        <span class="position-absolute start-0 top-50 translate-middle-y p-2" style="cursor: pointer; color: black;" onclick="togglePassword()">
          <i class="bi bi-eye" id="togglePasswordIcon"></i>
        </span>
      </div>    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-success">ورود</button>
    </div>
  </form>
  <!-- نمایش پیام خطا در صورت وجود -->
  {% if form.non_field_errors %}
  <div class="alert alert-danger mt-3">
    <ul>
      {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>

<script>
  function togglePassword() {
      const passwordField = document.querySelector('#id_password');
      const toggleIcon = document.querySelector('#togglePasswordIcon');
      if (passwordField.type === 'password') {
          passwordField.type = 'text';
          toggleIcon.classList.remove('bi-eye');
          toggleIcon.classList.add('bi-eye-slash');
      } else {
          passwordField.type = 'password';
          toggleIcon.classList.remove('bi-eye-slash');
          toggleIcon.classList.add('bi-eye');
      }
  }
  </script>

{% endblock %}
