{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}

<style>
  .btn-primary {
    color: #fff;
    background-color: #69b987;
    border-color: #69b987;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #39843d;
    border-color: #69b987;
  }
</style>

<div class="container mt-5">
  <h2 class="text-center mb-4">ثبت‌نام</h2>
  <form method="POST" class="w-50 mx-auto" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- نمایش پیام‌ها -->
    {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags|default:"info" }} alert-dismissible fade show"
        role="alert"
      >
        {{ message }}
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    <!-- فرم فیلدهای ثبت‌نام -->
    <div class="mb-3">
      <label for="{{ form.username.id_for_label }}" class="form-label">نام کاربری</label>
      {{ form.username|add_class:"form-control" }}
    </div>
    <div class="mb-3">
      <label for="{{ form.email.id_for_label }}" class="form-label">ایمیل</label>
      {{ form.email|add_class:"form-control" }}
    </div>
    <div class="mb-3">
      <label for="{{ form.password.id_for_label }}" class="form-label">رمز عبور</label>
      <div class="position-relative">
        {{ form.password|add_class:"form-control" }}
        <span class="position-absolute start-0 top-50 translate-middle-y p-2" style="cursor: pointer; color: black;" onclick="togglePassword()">
          <i class="bi bi-eye" id="togglePasswordIcon"></i>
        </span>
      </div>
      <small class="text-muted">رمز باید شامل حداقل ۸ کاراکتر و عدد باشد.</small>
    </div>
    <!-- <div class="mb-3">
      <label for="{{ form.confirm_password.id_for_label }}" class="form-label">تکرار رمز عبور</label>
      {{ form.confirm_password|add_class:"form-control" }}
    </div> -->


    <!-- دکمه ثبت‌نام -->
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">ثبت‌نام</button>
    </div>
  </form>
</div>

<script>
  function togglePassword() {
      const passwordField = document.querySelector('#id_password');
      const toggleIcon = document.querySelector('#togglePasswordIcon');
      if (passwordField.type === 'password') {
          passwordField.type = 'text';
          toggleIcon.classList.remove('bi-eye');
          toggleIcon.classList.add('bi-eye-slash');
      } else {
          passwordField.type = 'password';
          toggleIcon.classList.remove('bi-eye-slash');
          toggleIcon.classList.add('bi-eye');
      }
  }
  </script>

{% endblock %}
