jdatetime==5.0.0
django<5.0
Pillow==11.1.0
django-bootstrap-v5==1.0.11
markdown==3.7
django-ckeditor-5==0.2.17
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
requests==2.32.4
ckeditor_uploader==0.0.1