{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold">ایجاد مقاله جدید</h2>
    <a href="{% url 'blog_list' %}" class="btn btn-secondary">بازگشت به لیست مقالات</a>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="id_title" class="form-label">عنوان مقاله</label>
        {{ form.title }}
    </div>
    
    <div class="mb-3">
        <label for="id_content" class="form-label">محتوای مقاله</label>
        {{ form.content }}
    </div>
    
    <div class="mb-3">
        <label for="id_image" class="form-label">تصویر مقاله (اختیاری)</label>
        {{ form.image }}
    </div>
    
    <div class="form-check mb-3">
        {{ form.is_published }}
        <label class="form-check-label" for="id_is_published">انتشار مقاله</label>
    </div>
    
    <button type="submit" class="btn btn-success">انتشار مقاله</button>
</form>

{% endblock %}